body {
  font-family: "Public Sans", sans-serif;
}

/* *************************************header*************************************** */
.custom--nav--top {
  padding: 10px 0px;
  background: #fff;
  z-index: 999;
}

.easy-logo {
  width: 160px;
}

.toggler-icon-res {
  display: none;
}

.mob-hidden {
  display: block;
}

.serach--bar {
  background: #ccc;
  padding: 6px 10px;
  border-radius: 50%;
  color: #eee;
}

.mobo-show {
  display: none;
}
.nav--text {
  color: #00000096;
  font-weight: 600;
}

.custom--nav {
  width: 100%;
  justify-content: center;
}

.custom--side {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.request--button {
  font-size: 14px;
  text-align: center;
  background-color: hsl(192, 70%, 51%);
  color: #fff;
  padding: 14px 40px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}
.request--button:hover {
  text-decoration: none;
  color: #fff;
}
/* *************************************header end*************************************** */

/*********************************** main content **************************************/
.left--content {
  width: 50%;
}
.main--heading {
  text-transform: capitalize;
  font-weight: 600;
}
.banner--content {
  display: flex;
  flex-direction: row;
  text-align: start;
  align-items: center;
  position: relative;
  height: 400px;
  
}
.right-img--wrapper {
  min-height: 400px;
  height: 500px;
  width: 650px;
  top: 0;
  position: absolute;
  right: 0;
  z-index: -999;
}
.right-banner--img {
  width: 100%;
  height: 100%;
}

.right-content--images {
  background-image: url(./image-mockups.png);
  background-position: left;
  /* background-repeat: no-repeat; */
  min-height: 450px;
  height: 600px;
  width: 540px;
  background-size: cover;
}

.content--row {
  display: flex;
  flex-direction: row;
  text-align: start;
  margin-top: 65px;
  margin-bottom: 60px;
}

.mid--head {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 17px;
  font-weight: 900;
  color: #212529;
}

.a--heading:hover {
  text-decoration: none;
}

.mid-content--one {
  padding-right: 40px;
}
.mid--para {
  font-size: 15px;
  font-weight: 500;
}
.content--heading {
  font-size: 22px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 20px;
}
.content--para {
  width: 60%;
  font-size: 15px;
  color: #000000a8;
  margin-bottom: 25px;
  font-weight: 500;
}

.end-wrap--img {
  width: 250px;
  height: 200px;
}
.end-content--img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
}
.end-content--one {
  padding-right: 20px;
}
.art-writer {
  font-size: 15px;
  font-weight: 500;
}
.content--des {
  padding: 20px 21px;
}
.main--para {
  padding-right: 60px;
  font-weight: 500;
  font-size: 15px;
  color: #000000a8;
  margin-bottom: 35px;
}
/*********************************** main content end**************************************/
.second--content {
    background-color: hsl(220, 16%, 96%);
}
/* ******************************footer********************************** */
.main-footer {
  background: hsl(233, 26%, 24%);
  z-index: 3;
  line-height: 1.7;
  padding-top: 28px;
  width: 100%;
  padding-bottom: 25px;
}
.footer-links {
  color: #ccc;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 6px;
  margin: 6px 0 6px 0;
}
.links a {
  color: #fdfdfc91;
}
.contact-link {
  margin-bottom: 10px;
}

.footer-img {
    filter: invert(1);
}

/* my */
.center-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer--icons {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.footer--copyright {
  margin-top: 30px;
  color: #fdfdfc91;
}
.request--button--footer {
  font-size: 15px;
  text-align: center;
  background-color: hsl(192, 70%, 51%);
  color: #fff;
  padding: 14px 40px;
  border-radius: 20px;
}
.request--button--footer:hover {
  color: #fff;
  text-decoration: none;
}
.right-content--footer {
  margin-top: 15px;
}
/* ******************************footer end********************************** */
.right-banner--img--mob {
  display: none;
}
.res-drop-show {
  display: none;
}




@media (max-width: 768px) {
  .toggler-icon-res.active {
    display: block;
    background-image: url("./images/icon-close.svg");
  }
  .toggler-icon-res {
    display: block;
    cursor: pointer;
  }
  .mobo-show {
    display: block;
  }
  .content--row {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .end-wrap--img {
    margin: 0 auto;
  }
  .end-content--one {
    margin-bottom: 30px;
  }
  .content--heading {
    text-align: center;
  }
  .mid--para {
    padding: 12px 40px;
  }
  .content--para {
    width: 100%;
    padding: 12px 120px;
  }
  .left--content {
    text-align: center;
    margin-top: 42px;
    margin-bottom: 42px;
  }
  .banner--content {
    flex-direction: column-reverse;
    height: 860px;
  }
  .right-banner--img--mob {
    display: block;
    width: 100%;
    height: 100%;
  }
  .right-banner--img {
    display: none;
  }
  .custom--side {
    display: none;
  }
  .custom--nav--top {
    padding: 3px 8px;
  }
  .text--nav {
    text-align: center;
  }
  .left--content {
    width: 100%;
  }
  .right-content--images {
    min-height: 777px;
    height: 700px;
    width: 90%;
  }
  .right-img--wrapper {
    min-height: 700px;
    height: 500px;
    width: 700px;
  }
  .res-drop-show {
    display: block;
  }
  .dropdown-menu.show.custom--drop-res {
    top: 136% !important;
    left: -435px !important;
    z-index: 1000;
    display: none;
    float: none;
    min-width: 20rem;
    display: block;

  }


  #img--toggle{
    cursor:pointer;
    display:block;
  }
#img--toggle span{
  background-image: url('./images/icon-hamburger.svg');
  display: block;
  width: 60px;
  height: 20px;
  position: relative;
  top: 0;
  background-repeat: NO-REPEAT;
  transition: all ease-in-out 0.4s;
  background-size: contain;
}
#res--show.open span:nth-child(1){
    background-image: url('./images/icon-close.svg');
    display: block;
    width: 32px;
    height: 20px;
    position: relative;
    top: 0;
    background-repeat: NO-REPEAT;
    transition: all ease-in-out 0.4s;
    background-size: contain;
}

}

@media (max-width: 425px) {

  .dropdown-menu.show.custom--drop-res {
    left: -264px !important;
    min-width: 15rem;
  }

  .right-img--wrapper {
    width: 100%;
    min-height: 500px;
    height: 400px;
  }
  .right-content--images {
    height: 100%;
    width: 100%;
    min-height: 400px;
  }
  .content--para {
    padding: 12px 25px;
    text-align: center;
  }
  .mid--para {
    padding: 12px 18px;
  }
  .center-footer {
    flex-direction: column;
    text-align: center;
  }
  .footer-logo {
    margin-bottom: 25px;
  }
  .footer-icon {
    margin-bottom: 25px;
  }
}

@media (max-width:320px) {
  .dropdown-menu.show.custom--drop-res {
    left: -232px !important;
  }
}